.quotebody{
    width: 65vw;
    height: 25vh;
    border-radius: 30px;
    background-color: #D05252;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1.6em;
    color: white;
}
.author{
    text-align: center;
}
.delete{
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    cursor: pointer;
}
